//-------------------------------- VARIABLES ---------------------------------//

// Screen sizes
$screen-xs:                           300px;
$screen-sm:                           576px;
$screen-md:                           768px;
$screen-lg:                           993px;
$screen-xl:                           1280px;
$screen-xxl:                          1440px;
$screen-sm-max:                       ($screen-sm - 1);
$screen-md-max:                       ($screen-md - 1);
$screen-lg-max:                       ($screen-lg - 1);
$screen-xl-max:                       ($screen-xl - 1);

// colors
$background-color:                    #f8f8f9;

//-------------------------------- GENERAL -----------------------------------//

@font-face{
  font-family: 'Graphik-Medium';
  src:url('assets/fonts/Graphik-Medium.ttf');
}

body {
  font-family: 'Graphik-Medium';
}

.flex {
  display: flex;
  justify-content: center;
}

.left {
  text-align: left;
}

//---------------------------- PRODUCT LANDING -------------------------------//

.product-landing-wrapper {
  display: grid;
  grid-template-columns: 26% 48% 26%;
  text-align: center;
  background: $background-color;
  padding: 0 10%;
  img {
    width: 100%;
  }
  h1 {
    font-size: 24px;
  }
}

.sticky-wrapper {
  position: sticky;
  top: 0px;
  padding: 50% 0;
  .right {

  }
}

.product-description-wrapper, .product-purchase-wrapper {

}

//----------------------------- PRODUCT PAGES --------------------------------//

.product-pages-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 50px 150px;
  text-align: center;
  max-width: 900px;
  margin: 36px auto;
  @media (max-width: $screen-xl) { //1280px
    margin: 36px 12%;
  }
  img {
    max-height: 400px;
    max-width: 400px;
  }
}

.product-3 {
  grid-column: 1 / 3;
}
